@model MongoDB.WindowsAzure.Manager.Models.ServerStatus
@*<div id="server_@Model.id" class="server">

    <h4>@Model.name</h4>

</div>*@
<tr class="server-row">
    <td>
        @Html.ActionLink(Model.Id.ToString(), "Details", "Server", new { id = @Model.Id }, null)
    </td>
    <td>
        @Html.ActionLink(Model.Name, "Details", "Server", new { id = @Model.Id }, null)
    </td>
    <td>
        <img class="health" alt="@Model.Health.ToString()" src="../../Images/Server/Health/@(Model.Health.ToString()).png" />
        @Model.Health
    </td>
    <td>
        @if (@Model.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary)
        {
            <img class="currentState" alt="Primary" src="../../Images/Server/State/Primary.png" />
        }
        @Model.CurrentState
    </td>
    <td>
        @if (@Model.LastHeartBeat == DateTime.MinValue || Model.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary)
        {
            <i>N/A</i>
        }
        else
        {
            @Model.LastHeartBeat
        }
    </td>
    <td>
        @if (@Model.LastOperationTime == DateTime.MinValue)
        {
            <i>N/A</i>
        }
        else
        {
            @Model.LastOperationTime
        }
    </td>
    <td>
        @if (Model.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary)
        {
            <i>N/A</i>
        }
        else
        {
            @Model.PingTime
        }
    </td>
</tr>
