@model MongoDB.WindowsAzure.Manager.Models.ServerStatus
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="server-details-box">
    <h2>Details of @Model.Name</h2>    
    <div class="id"><b>Id:</b> @Model.Id</div>
    <div class="state"><b>State:</b> @Model.CurrentState</div>
    <div class="health">
        <b>Health:</b>
        <img class="health_icon" alt="@Model.Health.ToString( )" src="../../Images/Server/Health/@(Model.Health.ToString( )).png" />
        @Model.Health
    </div>
    <div class="ping">
        <b>Ping:</b>
        @if ( Model.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary )
        {

            <i>N/A</i>
        }
        else
        {
 @Model.PingTime
        }
    </div>
    <div class="heartBeat">
        <b>Last Heartbeat: </b>
        @if ( @Model.LastHeartBeat == DateTime.MinValue || Model.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary )
        {

            <i>N/A</i>
        }
        else
        {
 @Model.LastHeartBeat.ToShortTimeString( )
        }
    </div>
    <div class="opTime">
        <b>Last Operation: </b>
        @if ( @Model.LastOperationTime == DateTime.MinValue )
        {

            <i>N/A</i>
        }
        else
        {
 @Model.LastOperationTime.ToShortTimeString( )
        }
    </div>
</div>
