<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - MongoDB Manger</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="@Url.Action("Index", "Dashboard")">
                    <img src="../../Images/mongoLogo.png" />
                    </a>
                    <p class="site-title">
                  
                    </p>
                </div>                
            </div>
        </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
        </section>
    </div>
</body>
</html>
