@model MongoDB.WindowsAzure.Manager.Models.ServerStatus
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/serverPage.js")" type="text/javascript"></script>
@Html.Partial("_Flash")

<div id="dom-info" style="display: none">
    <div id="server-id">@Model.Id</div>
</div>
<div class="box server-details-box">
    <div class="title">
    @Html.ActionLink("Instance #" + Model.Id, "Details", new { id = @Model.Id })
    </div>
    @Html.Partial("_Attributes", Model)
    <hr />
    @Html.Partial("_Log", Model)
</div>
