@model MongoDB.WindowsAzure.Manager.Models.ServerStatus
@*<div id="server_@Model.id" class="server">

    <h4>@Model.name</h4>

</div>*@
<tr class="server-row">
    <td>
        @Model.Id
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        <img class="health" alt="@Model.Health.ToString()" src="../../Images/Server/Health/@(Model.Health.ToString()).png" />
       
        @Model.Health
    </td>
    <td>
        @Model.CurrentState
    </td>
    <td>
        @if ( @Model.LastHeartBeat == DateTime.MinValue || Model.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary )
        {
            <i>N/A</i>
        }
        else
        {
            @Model.LastHeartBeat
        }
    </td>
    <td>
        @if ( @Model.LastOperationTime == DateTime.MinValue )
        {
            <i>N/A</i>
        }
        else
        {
            @Model.LastOperationTime
        }
    </td>
    <td>
        @if ( Model.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary )
        {
            <i>N/A</i>
        }
        else
        {
            @Model.PingTime
        }
    </td>
</tr>
