@model MongoDB.WindowsAzure.Manager.Models.ReplicaSetStatus
@{
    ViewBag.Title = "MongoDB Status";
}
<h2>
    Replica Set Status</h2>
@if ( Model.servers.Count > 0 )
{
    <h4>
        Replica Set : @Html.DisplayFor( modelItem => Model.name )</h4>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Health
            </th>
            <th>
                State
            </th>
            <th>
                Last Heart Beat
            </th>
            <th>
                Optime Date
            </th>
            <th>
                Ping (to Primary)
            </th>
        </tr>
        @foreach ( var status in Model.servers )
        {
            <tr>
                <td>
                    @status.Id
                </td>
                <td>
                    @status.Name
                </td>
                <td>
                    @status.Health
                </td>
                <td>
                    @status.CurrentState
                </td>
                <td>
                    @if ( @status.LastHeartBeat == DateTime.MinValue || status.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary )
                    {
                        <i>N/A</i>
                    }
                    else
                    {
                        @status.LastHeartBeat
                    }
                </td>
                <td>
                    @if ( @status.OptimeDate == DateTime.MinValue )
                    {
                        <i>N/A</i>
                    }
                    else
                    {
                        @status.OptimeDate
                    }
                </td>
                <td>
                    @if ( status.CurrentState == MongoDB.WindowsAzure.Manager.Models.ServerStatus.State.Primary )
                    {
                        <i>N/A</i>
                    }
                    else
                    {
                        @status.PingTime
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>
        Replica Set Status: @Html.DisplayFor( modelItem => Model.name )</h4>
}
